body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

html,
body {
	outline: none;
}

:focus {
	outline: none;
}
